* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}


ul {
    list-style-type: none;
    padding: 0;
}


button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.input-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 4rem;
    position: relative;
}

.search-input-wrapper {
    position: relative;
    width: 100%;
}

.search-input-icon {
    position: absolute;
    left: 1.75rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-input {
    font-size: 1rem;
    width: 100%;
    padding: 1rem 1.5rem 1rem 3.25rem;
    border-radius: 2rem;
    border-style: solid;
    border-color: black;

    &.has-results {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        outline: none;
    }

}



.search-results {
    margin: 4rem;
}

.autocomplete-results {
    position: absolute;
    left: 4rem;
    border: 2px solid black;
    border-top: none;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    margin: 0;
    right: 4rem;
    top: 72px;
    background-color: white;

    li {
        padding: 1.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            display: flex;
            column-gap: 0.5rem;
            align-items: center;
        }
        &:hover {
            background-color: lightgray;
        }
        &:last-of-type{
            border-bottom-right-radius: 2rem;
            border-bottom-left-radius: 2rem;
        }
    }
}